server {
                listen 80;
                server_name **********.net www.******************.net;

                access_log /*****/nginx/access_log;
                error_log /******/nginx/error_log;

                root /*****/*****/www;
                index index.php index.htm index.html;


                add_header 'Access-Control-Allow-Origin' '*';
                add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';


                location ~ .php$ {
                  fastcgi_pass   mari-sock;
                  fastcgi_index  index.php;
                  fastcgi_param  SCRIPT_FILENAME /*****/******/www/$fastcgi_script_name;
                  include fastcgi_params;
                }


}

